<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
				<rule name="RewriteUserFriendlyURLCatalog" stopProcessing="true">
					<match url="^catalog$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog.html" />
				</rule>
				
        <rule name="RewriteUserFriendlyURL1" stopProcessing="true">
            <match url="^catalog/bd35f5e8-394a-11e9-9fa8-00155d0e072e$" />
            <conditions>
                <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            </conditions>
            <action type="Rewrite" url="catalog/[categories].html" />
        </rule>
				<rule name="RewriteUserFriendlyURL1item" stopProcessing="true">
					<match url="^catalog/bd35f5e8-394a-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL2" stopProcessing="true">
					<match url="^catalog/c90c4463-394a-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL2item" stopProcessing="true">
					<match url="^catalog/c90c4463-394a-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL3" stopProcessing="true">
					<match url="^catalog/dbe38c4a-394a-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL3item" stopProcessing="true">
					<match url="^catalog/dbe38c4a-394a-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL4" stopProcessing="true">
					<match url="^catalog/2dd5ff8b-394b-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL4item" stopProcessing="true">
					<match url="^catalog/2dd5ff8b-394b-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL5" stopProcessing="true">
					<match url="^catalog/ac55ae62-394a-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL5item" stopProcessing="true">
					<match url="^catalog/ac55ae62-394a-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL6" stopProcessing="true">
					<match url="^catalog/145ad2fc-394b-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL6item" stopProcessing="true">
					<match url="^catalog/145ad2fc-394b-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL7" stopProcessing="true">
					<match url="^catalog/912fc794-394a-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL7item" stopProcessing="true">
					<match url="^catalog/912fc794-394a-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL8" stopProcessing="true">
					<match url="^catalog/06d29a2a-394b-11e9-9fa8-00155d0e072e$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL8item" stopProcessing="true">
					<match url="^catalog/06d29a2a-394b-11e9-9fa8-00155d0e072e/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
				<rule name="RewriteUserFriendlyURL9" stopProcessing="true">
					<match url="^catalog/66784aac-577c-11e7-bc71-c4e98402e535$" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories].html" />
				</rule>
				<rule name="RewriteUserFriendlyURL9item" stopProcessing="true">
					<match url="^catalog/66784aac-577c-11e7-bc71-c4e98402e535/*" />
					<conditions>
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="catalog/[categories]/[id].html" />
				</rule>
				
            </rules>
        </rewrite>
    </system.webServer>
</configuration>