.box {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 310px;
  height: 340px;
}

.img {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}